* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Racing Sans One',sans-serif;
    overflow-x: hidden;
}

/* style navbarnya */
nav {
    position: fixed;
    display: flex;
    background-color: rgba(66, 108, 152,0.6);
    justify-content: space-around;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* padding: 20px 0; */
    color: rgb(221, 193, 193);
    width: 100%;
    height: 60px;
    align-items: center;
    z-index: 50;
    

}

nav .logo {
    font-family: 'Racing Sans One',sans-serif;
    letter-spacing: 3px;
    font-size: 28px;
}

nav .logo img {
    width: 200px;
    padding-top: 8px;
}
nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: white;
    text-decoration: none;
    
}

nav ul li a:hover {
    color: #b8e994;
    font-size: 1.3em;
    transition: 0.5s;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    /* background-color: black; */
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(236, 236, 236);
    border-radius: 3px;
    transition: all 0.5s;
}

/* animasi menu */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}
/* responsive breakpoint */
/* tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul  {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: rgba(66, 108, 152,0.6);
		/*background-color: rgb(226, 43, 43); ini asalnya*/
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}

.header {
    background-image: url(img/team.jpg);
    background-size: cover;
    height: 100vh;
    background-position: 20px auto;
    /* opacity: 0.8; */
}

.top-wrapper {
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-wrapper h1 {
    margin-top: 250px;
    letter-spacing: 5px;
    font-size: 36px;
}

.top-wrapper .text {
    margin-top: 10px;
}

.btn-wrapper {
    margin-top: 20px;
}

.btn { 
    padding: 12px 24px 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    background-color: rgba(59, 89, 152,0.7);
    border-radius: 15px;
}

a {
    text-decoration: none;
}

.top-wrapper .btn:hover {
    opacity: 1;
    background-color: rgba(59, 89, 152,1);
    transition: 0.5s;
}

/* bagian area tim */
.team-section{
    height: 100vh;
    display: flex;
}

.person{
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: .6s;
}

.person:hover{
    flex: 3;
}

.person-pic{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    filter: grayscale(80%);
    transition: .3s;
}

.person:hover .person-pic{
    filter: grayscale(0);
}

.person-info{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: .2s;
}

.person:hover .person-info{
    opacity: 1;
    bottom: 60px;
    transition-delay: .6s;
}

.person-info h2{
    font-size: 20px;
    color: #fff;
}

.person-info p{
    color: #b8e994;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 20px;
}

.socialmedia a{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #333;
    background-color: #b8e994;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 6px;
    font-size: 18px;
    transition: .3s linear;
}

.socialmedia a:hover{
    color: #b8e994;
    background-color: transparent;
    transform: scale(1.5);
}

/* footer */
footer {
  padding-top: 10px;
  background-color: rgb(66, 108, 152);
}

footer img {
  width: 250px; 
  padding: 20px;
}

.footer-1{
	float: right;
	color: rgb(236, 236, 236);
}

.footer-1 p{
	padding: 38px;
}
	